.top-header-w-content {
    width: 100%;
    padding: 32px 0;
    overflow: hidden;
    position: relative;
}

.top-header-w-content__wrapper {
    width: 98%;
    margin: 0 auto;
}

.top-header-w-content__logo {
    width: 48px!important;
    height: 48px!important;
}

.top-header-w-content__username {
    font-size: 18px;
    color: white;
}

.vertex_icon {
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.5174 0.260864H3.48261C2.62815 0.260864 1.80869 0.600297 1.2045 1.20449C0.600304 1.80868 0.260872 2.62814 0.260872 3.4826V4.73908C0.260718 5.18255 0.352118 5.62127 0.52935 6.02778V6.09221C0.681072 6.43691 0.895976 6.75015 1.16296 7.01578L7.77826 13.5881V20.6652C7.7779 20.8477 7.82405 21.0273 7.91236 21.187C8.00068 21.3467 8.12824 21.4813 8.283 21.578C8.45391 21.684 8.65111 21.7398 8.85218 21.7391C9.02029 21.7381 9.18582 21.6976 9.33544 21.621L13.6311 19.4732C13.8082 19.3839 13.9571 19.2474 14.0614 19.0787C14.1656 18.91 14.2211 18.7157 14.2217 18.5174V13.5881L20.7941 7.01578C21.0611 6.75015 21.276 6.43691 21.4277 6.09221V6.02778C21.6197 5.62445 21.7258 5.18559 21.7391 4.73908V3.4826C21.7391 2.62814 21.3997 1.80868 20.7955 1.20449C20.1913 0.600297 19.3719 0.260864 18.5174 0.260864ZM12.3853 12.3853C12.2858 12.4857 12.2071 12.6047 12.1536 12.7355C12.1002 12.8664 12.0731 13.0065 12.0739 13.1478V17.8516L9.92609 18.9255V13.1478C9.92691 13.0065 9.89982 12.8664 9.84637 12.7355C9.79293 12.6047 9.71419 12.4857 9.61465 12.3853L3.92292 6.70434H18.0771L12.3853 12.3853ZM19.5913 4.55652H2.4087V3.4826C2.4087 3.19778 2.52184 2.92463 2.72324 2.72323C2.92464 2.52183 3.19779 2.40869 3.48261 2.40869H18.5174C18.8022 2.40869 19.0754 2.52183 19.2768 2.72323C19.4782 2.92463 19.5913 3.19778 19.5913 3.4826V4.55652Z' fill='white'/%3E%3C/svg%3E%0A");
    background-size: 100%;
}

.user_icon {
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.7704 12.3157C16.9034 11.4292 17.7304 10.2135 18.1364 8.83776C18.5423 7.46202 18.507 5.99467 18.0353 4.63983C17.5636 3.285 16.6791 2.11005 15.5047 1.27847C14.3303 0.446879 12.9245 0 11.4829 0C10.0412 0 8.6354 0.446879 7.46102 1.27847C6.28663 2.11005 5.40208 3.285 4.93041 4.63983C4.45874 5.99467 4.42341 7.46202 4.82934 8.83776C5.23527 10.2135 6.06227 11.4292 7.19529 12.3157C5.25384 13.0893 3.55986 14.3723 2.29393 16.028C1.02801 17.6837 0.237602 19.65 0.00697087 21.7173C-0.00972338 21.8682 0.00363851 22.021 0.0462933 22.1668C0.0889481 22.3126 0.160061 22.4486 0.255571 22.567C0.448462 22.8063 0.72902 22.9595 1.03552 22.9931C1.34203 23.0266 1.64937 22.9377 1.88995 22.7458C2.13052 22.554 2.28461 22.275 2.31833 21.9702C2.5721 19.7234 3.64931 17.6484 5.34415 16.1416C7.03899 14.6348 9.23264 13.8018 11.506 13.8018C13.7793 13.8018 15.973 14.6348 17.6678 16.1416C19.3626 17.6484 20.4398 19.7234 20.6936 21.9702C20.725 22.2526 20.8605 22.5134 21.074 22.7023C21.2874 22.8912 21.5636 22.9948 21.8493 22.9931H21.9764C22.2794 22.9584 22.5563 22.8061 22.7467 22.5692C22.9372 22.3324 23.0259 22.0303 22.9934 21.7288C22.7617 19.6556 21.967 17.6843 20.6946 16.026C19.4222 14.3678 17.72 13.0852 15.7704 12.3157ZM11.4829 11.4997C10.5686 11.4997 9.67482 11.2301 8.91462 10.7249C8.15442 10.2197 7.56191 9.50173 7.21203 8.66167C6.86214 7.82161 6.7706 6.89724 6.94897 6.00544C7.12734 5.11364 7.56761 4.29447 8.21411 3.65152C8.8606 3.00857 9.68429 2.57072 10.581 2.39333C11.4777 2.21594 12.4072 2.30698 13.2519 2.65494C14.0966 3.00291 14.8186 3.59216 15.3265 4.34819C15.8345 5.10422 16.1056 5.99307 16.1056 6.90234C16.1056 8.12163 15.6185 9.29099 14.7516 10.1532C13.8847 11.0153 12.7089 11.4997 11.4829 11.4997Z' fill='white'/%3E%3C/svg%3E%0A");
    background-size: 50%;
    background-color: #31A2AC;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 11%;
}

.top-header-w-content__wrapper {
    display: grid;
    grid-template-columns: 50px 50px 1fr 1fr 50px;
    grid-template-rows: auto;
    gap: 0px 15px;
    grid-template-areas:
    "logogrid filtergrid spacer username icon2";
}

.logogrid { grid-area: logogrid }
.filtergrid { grid-area: filtergrid; }
.spacer { grid-area: spacer; }
.usernamegrid { grid-area: username; text-align: right; line-height: 50px; }
.icon2 { grid-area: icon2; }

.top-header-item-top-icon {
    border: 3px solid #31A2AC;
    border-radius: 15px;
    display: inline-block;
    padding: 10px;
}


.top-header-item-top {
    font-size: 20px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    gap: 0px 15px;
    grid-template-areas:
    "questlogokek titlequestkek"
    "questlogokek descrquestkek";
}
.top-header-item-top-icon { grid-area: questlogokek; }
.top-header-item-top-name { grid-area: titlequestkek; }
.top-header-item-top-icons {
    grid-area: descrquestkek;
}