.fancy-background {
    background: conic-gradient(from 243deg at 57.81% 46.06%, #6FB98F -22.5deg, #1E0219 5.63deg, #004445 54.38deg, #2C7873 144.37deg, #31A2AC 262.5deg, #6FB98F 337.5deg, #1E0219 365.62deg);
    background-blend-mode: multiply;
    filter: blur(110px);
    transform: scale(5);
}

.fancy-background__fullWidth {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
}

.fancy-background__rel {
    position: relative;
}