div[id='root'] {
	position: relative;

	min-height: 100vh;
	width: 100vw;

	overflow: hidden;
}

div[id='root']::before {
	position: absolute;
	content: '';

	height: 150vh;
	width: 150vw;

	left: -25%;
	top: -25%;

	background: conic-gradient(from 243deg at 57.81% 46.06%, #6FB98F -22.5deg, #1E0219 5.63deg, #004445 54.38deg, #2C7873 144.37deg, #31A2AC 262.5deg, #6FB98F 337.5deg, #1E0219 365.62deg);
	background-blend-mode: multiply;
	filter: blur(110px);
}

body {
	margin: 0;
}

.questar-logo {
	background-color: #31A2AC;
	position: relative;
	overflow: hidden;
	border-radius: 11%;
	height: 100px;
	width: 100px;
}

.questar-logo::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	mask-image: url("data:image/svg+xml,%3Csvg width='95' height='95' viewBox='0 0 95 95' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='95' height='95' rx='11'/%3E%3Cpath d='M31.9141 74C32.0078 73.1797 32.2305 72.4062 32.582 71.6797C32.957 70.9531 33.4258 70.3203 33.9883 69.7812C34.5508 69.2188 35.1719 68.7852 35.8516 68.4805C36.5547 68.1523 37.293 67.9883 38.0664 67.9883H54.0977V26.6445H37.4688V57.8281H35.7109C34.7969 57.8281 33.9297 57.5938 33.1094 57.125C32.3125 56.6562 31.6094 56.0234 31 55.2266C30.3906 54.4062 29.9102 53.457 29.5586 52.3789C29.207 51.2773 29.0312 50.1055 29.0312 48.8633V29.6328C29.0312 28.3906 29.207 27.2305 29.5586 26.1523C29.9102 25.0508 30.3906 24.1016 31 23.3047C31.6094 22.4844 32.3125 21.8516 33.1094 21.4062C33.9062 20.9375 34.7617 20.7031 35.6758 20.7031H55.7852C56.6992 20.7031 57.5664 20.9375 58.3867 21.4062C59.207 21.8516 59.9219 22.4844 60.5312 23.3047C61.1406 24.1016 61.6211 25.0508 61.9727 26.1523C62.3242 27.2305 62.5 28.3906 62.5 29.6328V59.6211C62.5 60.582 62.3828 61.5078 62.1484 62.3984C61.9141 63.2656 61.5859 64.0625 61.1641 64.7891C60.7422 65.4922 60.2383 66.125 59.6523 66.6875C59.0664 67.2266 58.4219 67.6602 57.7188 67.9883H70.2695C70.1758 68.8086 69.9414 69.582 69.5664 70.3086C69.2148 71.0352 68.7578 71.6797 68.1953 72.2422C67.6562 72.7812 67.0352 73.2148 66.332 73.543C65.6289 73.8477 64.8906 74 64.1172 74H31.9141Z' fill='black'/%3E%3C/svg%3E%0A");
}